name: C App Docker CI

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: yasiru1ss
          password: yasirr96S12

      - name: Build Docker image
        run: docker build -t c-docker-app .

      - name: Tag image
        run: docker tag c-docker-app yasiru1/c-app:latest

      - name: Push to Docker Hub
        run: docker push yasiru1/c-app:latest
